.Task_list_item{
Border-style:solid;
width:40%;
float:left;
}
.task_title{
    font-weight:bold;
    font-size:xx-large;
}
.task_description{
    float:left;
    display:block;
    padding-bottom:5px;
}
.delete_task_button{
    color:lightcoral;
}
.delete_button_form{
    float:right;
}